

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col panel" style="text-align: center;">
            <h3>How To Play</h3>
            <p >In this game, the objective is to pick the choice that you want the character of the story to take.
                Hopefully you will reach a conclusion that you will be happy with.<br> <br> But beware! <br> <br> 
                The wrong decision might lead you to an unfortunate and unexpected conclusion to your story! <br><br><br>

                Credits: <br><br> 
                Rasmus Drotved (Programming, Design, Story, Concept)<br> 
                Jannes Pinnow (Story & Concept) <br>
            
            </p>
            <button routerLink="/">I'm ready to play!</button>

        </div>
        <div class="col"></div>

    </div>
</div>


