
  <div  >
    <div class="container" >
        <div class="row">
            <div class="col-2"></div>
            <div class="col ">
                <img src="../../assets/titlebanner.jpg" />
                <h4> Are you ready<br> to decide <br> your fate?</h4>
                
                <nav>
                    <div class="row buttonPanel" >
                        <div class="col"></div>
                        <a class="col" style="margin-right: 20px;" routerLink="/gamePage" >New Game</a>
                        
                        <a class="col" style="margin-left: 20px;" routerLink="/about">How To Play</a>
                        <div class="col"></div>
                    </div>
                    
                </nav>
            </div>
            <div class="col-2"></div>
        </div>
  </div>

</div>